# GH to apply/destroy infra for c15 

name: c15 infra deploy or destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deployment environment'
        required: true
        type: choice
        options:
          - dev
          - prod
      action:
        description: 'Choose action: apply or destroy'
        required: true
        default: 'apply'
        type: choice
        options:
          - apply
          - destroy
      paths:
        description: 'Path to infra directory'
        required: false
        default: './class13-14/infra/'
    
env:
  AWS_REGION: ap-south-1
  terraform_version: 1.8.1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  deploy-or-destroy-infra:
    runs-on: ubuntu-latest  

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform_version }}

      - name: Initialize Terraform
        run: terraform init -backend-config=vars/${{ github.event.inputs.environment }}.tfbackend
        working-directory: ${{ github.event.inputs.paths }}

      # - name: Apply or Destroy Terraform changes
      #   run: |
      #     if [ "${{ github.event.inputs.action }}" == "apply" ]; then
      #       terraform apply -auto-approve
      #     else
      #       terraform destroy -auto-approve
      #     fi
      #   working-directory: ${{ github.event.inputs.paths }}

      - name: Apply or Destroy Terraform changes
        run: |
          terraform ${{ github.event.inputs.action }} -var-file=vars/${{ github.event.inputs.environment }}.tfvars  -auto-approve

        working-directory: ${{ github.event.inputs.paths }}